<div class="bg-lightBeige">
    <div id="chat"></div>
    <label for="textInput" class="inputOutline">
        <input id="textInput" class="input responsive-column" autofocus placeholder="Escreva algo, digite ENTER..." type="text">
    </label>
</div>