<header>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BOTIKE - Robôs que conversam com pessoas e negócios</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="icon" href="images/cropped-favicon_botike-192x192.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap">
    <link rel="preconnect" href="https://fonts.gstatic.com">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-4.4.1.css">

    <!-- Animação dos balões da capa, estilos diversos & CSS Slicks-->
    <link rel="stylesheet" href="css/animation-icoHum.css">
    <link rel="stylesheet" href="css/animation-icoBot.css">
    <link rel="stylesheet" href="css/animation-lettering.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/stilo.css">
    <link rel="stylesheet" href="slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="slick-1.8.1/slick/slick-theme.css">

    <!-- Script para processar a comunicação com o Botpress -->
    <!-- <script src="js/scriptBot-templates.js"></script> -->
    <!-- <script src="js/scriptBot-conversa.js"></script> -->
    <script src="js/scriptBot-JSON_TEST.js"></script>

    <!-- <script src="js/scriptBlog.js"></script> -->

</header>