<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <div id="fale" class="py-3 bg-carmesin text-white text-center ">
        <div class="container ">
            <div id="footerMagenta" class="row justify-content-md-center ">

                <div class="col-xl-8 ">
                    <p>&nbsp;</p>
                    <h3 class="font-weight-bold text-center text-uppercase text-white titulo-section ">&nbsp;Fale conosco agora mesmo&nbsp;</h3>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xl-8 ">
                    <img src="images/zildo_final.png" class="img-fluid" object-fit="contain ">
                    <br>
                </div>

                <div id="chatBubble" class="col-md-8 bg-lightBeige ">
                    <br>
                    <p class="text-lightcarmesin">
                        <%- include('../partials/converseholder') %>
                    </p>
                    <br>
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js "></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/scriptBot-demorinha_tec.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
    <script src="slick-1.8.1/slick/slick.min.js"></script>

</body>

</html>